.pagina {
  display: none;
  visibility: hidden;
}

.pagina.pagina-activa {
  display: block;
  visibility: visible;
  width: 100vw;
  height: 100vh;
}

#map {
  width: 100vw;
  height: 100vh;
}

img#logo-aplicacion {
  width:25vw;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
}
